/* for making resposive sector 1 */
@media screen and (max-width: 480px){
#main-txt{
    font-size: 17px;
}
}
/* ending sector 1 */
/* sector 2*/
#pro{
    font-size: 20px;
}
#playAudio{
    font-size: medium;
}
#description{
    font-size: 23px;
}
#p1{
    width: 310px;
}
